.cal {
    padding: 1px;
    vertical-align: middle;
}

iframe.cal {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 1px;
    height: 1px;
}

table.cal {
    padding: 0;
    visibility: hidden;
    position: absolute;
    cursor: default;
    width: 200px;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
}

table.cal {
    padding: 1px;
    vertical-align: middle;
    border: ridge 2px;
    font-size: 9pt;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-weight: bold;
}

td.calDrag,
    td.calHead {
    padding: 0 0;
    text-align: center;
}

td.calDrag {
    font-size: 8pt;
}

select.calHead {
    margin: 3px 1px;
    text-align: center;
}

input.calHead {
    height: 22px;
    width: 22px;
    vertical-align: middle;
    text-align: center;
    margin: 2px 1px;
    font-weight: bold;
    font-size: 9pt;
    font-family: fixedSys, serif;
}

td.calWeekNumberHead,
    td.calWeek {
    padding: 0;
    text-align: center;
    font-weight: bold;
}

td.calNow,
    td.calNowHover,
    td.calNow:hover,
    td.calNowDisabled {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
}

table.calCells {
    text-align: right;
    font-size: 8pt;
    width: 96%;
}

td.calCells,
    td.calCellsHover,
    td.calCells:hover,
    td.calCellsDisabled,
    td.calCellsExMonth,
    td.calCellsExMonthHover,
    td.calCellsExMonth:hover,
    td.calCellsExMonthDisabled,
    td.calCellsWeekend,
    td.calCellsWeekendHover,
    td.calCellsWeekend:hover,
    td.calCellsWeekendDisabled,
    td.calInputDate,
    td.calInputDateHover,
    td.calInputDate:hover,
    td.calInputDateDisabled,
    td.calWeekNo,
    td.calWeeks {
    padding: 3px;
    width: 16px;
    height: 16px;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    vertical-align: middle;
}

/* Blend the colours into your page here...    */
/* Calendar background */
table.cal {
    background-color: mediumseagreen;
}

/* Drag Handle */
td.calDrag {
    background-color: #9999CC;
    color: #CCCCFF;
}

/* Week number heading */
td.calWeekNumberHead {
    color: #6666CC;
}

/* Week day headings */
td.calWeek {
    color: #CCCCCC;
}

/* Week numbers */
td.calWeekNo {
    background-color: #776677;
    color: #CCCCCC;
}

/* Enabled Days */
/* Week Day */
td.calCells {
    background-color: #CCCCCC;
    color: #000000;
}

/* Day matching the input date */
td.calInputDate {
    background-color: #CC9999;
    color: #FF0000;
}

/* Weekend Day */
td.calCellsWeekend {
    background-color: #CCCCCC;
    color: #CC6666;
}

/* Day outside the current month */
td.calCellsExMonth {
    background-color: #CCCCCC;
    color: #666666;
}

/* Today selector */
td.calNow {
    background-color: #6666CC;
    color: #FFFFFF;
}

/* Clear Button */
td.calClear {
    padding: 0;
}

input.calClear {
    padding: 0;
    text-align: center;
    font-size: 8pt;
}

/* MouseOver/Hover formatting
       Note: The reason that the following are
       implemented using both a class and a :hover
       pseudoclass is because Opera handles the rendering
       involved in the class swap very poorly and IE6
       (and below) only implements pseudoclasses on the
       anchor tag.
*/
/* Active cells */
td.calCells:hover,
    td.calCellsHover {
    background-color: #FFFF00;
    cursor: pointer;
    color: #000000;
}

/* Day matching the input date */
td.calInputDate:hover,
    td.calInputDateHover {
    background-color: #FFFF00;
    cursor: pointer;
    color: #000000;
}

/* Weekend cells */
td.calCellsWeekend:hover,
    td.calCellsWeekendHover {
    background-color: #FFFF00;
    cursor: pointer;
    color: #000000;
}

/* Day outside the current month */
td.calCellsExMonth:hover,
    td.calCellsExMonthHover {
    background-color: #FFFF00;
    cursor: pointer;
    color: #000000;
}

/* Today selector */
td.calNow:hover,
    td.calNowHover {
    color: #FFFF00;
    cursor: pointer;
    font-weight: bold;
}

/* Disabled cells */
/* Week Day */
/* Day matching the input date */
td.calInputDateDisabled {
    background-color: #999999;
    color: #000000;
}

td.calCellsDisabled {
    background-color: #999999;
    color: #000000;
}

/* Weekend Day */
td.calCellsWeekendDisabled {
    background-color: #999999;
    color: #CC6666;
}

/* Day outside the current month */
td.calCellsExMonthDisabled {
    background-color: #999999;
    color: #666666;
}

td.calNowDisabled {
    background-color: #6666CC;
    color: #FFFFFF;
}
